<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  <!-- google search console verification  -->
  <meta name="google-site-verification" content="l3SX2Z9IwMNRdrO8yBrkNrx2sHJoJY9we8TL01C8v2s" />
  <!-- favicon  -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
  </head>
  <body>
    <nav>
      <a href="/">{{ site.title }}</a>
      <!-- <a href="/cv">cv</a> -->
      <a href="/posts">posts</a>
      <!-- <a href="/projects">projects</a> -->
      <!-- <a href="/books">books</a> -->
      <!-- <a href="/publications">publications</a> -->
    </nav>
    <main>
      {{ content }}
    </main>
    <!-- Add discription in the _config.yml as a footer -->
    <footer>
      <p>{{ site.description }}</p>
    </footer> 
  </body>
</html>
